.tracker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .tracker label {
    display: inline-block;
    width: 15%;
    text-align: center;
    margin-bottom: 1%;
  }
  
  .goals {
    width: 40%;
  }
  
  li {
    position: relative;
  }
  
  li button {
    /* position: absolute; */
    top: 0;
    /* right: -40px; */
    visibility: hidden;
    background-color: red;
    text-align: right;

  }
  
  li:hover button {
    visibility: visible;
  }



  .addGoal{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #287cbd;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  
  .addGoal:hover {
    background-color: #2E90D9;
  }


  
  button:hover {
    background-color: #2E90D9;
  }
  .delete{
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .delete:hover {
    background-color: rgb(216, 4, 4);
  }

  .error {
    color: red;
    padding: 4px;
    margin: 0 auto;
  }