body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
  }

  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    text-decoration: none;
}
nav a {
    text-decoration: none;
    color: black;

  }  
nav ul li{
    display: inline-block;
    list-style: none;
    margin:0 15px;
    text-decoration: none;
}

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
  }

  section {
    width: calc(33.33% - 20px);
    background-color: #f2f2f2;
    padding: 40px;
    box-shadow: 0px 0px 10px #ccc;
    text-align: center;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 40px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  input[type="text"], input[type="number"], input[type="range"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
  }

  input[type="submit"] {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  input[type="submit"]:hover {
    background-color: #333;
  }

  table {
    width: 100%;
    margin-top: 40px;
  }

  th, td {
    padding: 10px;
    font-size: 18px;
    text-align: center;
  }

  thead {
    background-color: #333;
    color: #fff;
  }

/* goals */

/* Style for the X icon */
.delete-row::after {
  content: "X";
  color: red;
  font-weight: bold;
  margin-left: 5px;
  cursor: pointer;
}

/* Hide the X icon by default */
.delete-row:hover::after {
  display: none;
}
